body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que o conteúdo ocupe toda a altura da tela */
    margin: 0;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 1rem;
    width: 100%;
    padding: 1rem;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    background-color: #1a1a1a;
}



